[submodule "tools/uncrustify/uncrustify"]
	path = tools/uncrustify/uncrustify
	url = git@github.com:uncrustify/uncrustify.git
[submodule "tools/cppcheck/cppcheck"]
	path = tools/cppcheck/cppcheck
	url = git@github.com:danmar/cppcheck.git
[submodule "external/CAVeTalk"]
	path = external/CAVeTalk
	url = git@github.com:CAVEMaN-SeniorDesign/CAVeTalk.git
[submodule "external/lsm6dsv16x-pid"]
	path = external/lsm6dsv16x-pid
	url = git@github.com:STMicroelectronics/lsm6dsv16x-pid.git
